header {
  background-color: limegreen !important;
}

header a {
  color: inherit !important;
  text-decoration: none !important;
}

header #Logo {
  height: 1.5em;
  vertical-align: middle;

}

header button {
  color: inherit !important;
  margin: 1rem 0 !important;
}

footer {
  background-color: whitesmoke;
}

a {
  text-decoration: none !important;
}

.hot-pets img {
  width: 100%;
  height: 10rem;
}

.banner .image-box{
  position: relative;
}

.banner .image-box img{
  width: 100%;
  height: auto;
}

.banner .image-box h6{
  color: white;
  position: absolute;
  bottom: 3rem;
}

.banner .image-box p{
  color: white;
  position: absolute;
  bottom: 1rem;
}

main section{
  margin: 2rem 0;
}