/* 通用样式 */
header a:hover{
  background-color: lightgreen;
}

header a.active button{
  background-color: rgba(255,255,255,0.25);
}

main{
  min-height: 80%;
}

#HomePage hr,
#CatPage hr{
  border-bottom: thick solid limegreen !important;
  margin-bottom: 0.5rem !important;
}

img {
  width: 100%;
  vertical-align: middle !important;
}

header svg{
  vertical-align: middle !important;
}

header {
  background-color: limegreen !important;
}

header a {
  color: inherit !important;
  text-decoration: none !important;
}

header #Logo {
  height: 1.5em;
  vertical-align: middle;

}

header a {
  color: inherit !important;
  margin: 1rem 0 !important;
}
header button {
  color: inherit !important;
}

footer {
  background-color: whitesmoke;
}

a {
  text-decoration: none !important;
}

.hot-pets img {
  width: 100%;
  height: 10rem;
}

.banner .banner-box {
  position: relative;
}

.banner .banner-box img {
  width: 100%;
}

.banner .banner-label{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner .banner-box h6 {
  color: ghostwhite;
  font-weight: bolder;
  padding: 0 1rem;
}

.banner .banner-box p {
  padding: 0 1rem;
  color: whitesmoke;
}

aside.faq {
  border: thin solid black;
}

.article-item-label{
  display: inline-block;
  max-width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

time{
  font-size: smaller;
  vertical-align: super;
}

.hot-pet-card-label{
  padding: 0.5rem 0 !important;
}

.hot-pet-card-label > h6{
  text-align: center;
}

.pets-articles a{
  color: inherit;
}

.pets-articles a :hover{
  color: limegreen;
  cursor: pointer;
}

#HomeBannerSwiper img{
  width: 100%;
  height: 20rem;
}

#HomeSectionSwiper img{
  width: 100%;
  height: 10rem;
}

#HomeSectionSwiper .swiper-button-prev,
#HomeSectionSwiper .swiper-button-next {
  color: white;
  top: 5rem;
}

#IntroductionPage #BasicIntroBox{
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #e5e5e5;
}

.more-articles{
  float: right;
  font-size: small !important;
}

b.section-label{
  padding: 0.5rem;
  color: white;
  background-color: limegreen;
}

#DirectoryBox a{
  color: inherit;
  text-decoration: none;
}

#DirectoryBox a:hover{
  color: limegreen;
}

#DetailIntroBox svg{
  color: limegreen;
  margin-right: 0.5rem;
  vertical-align: text-bottom;
}

.article-items div:hover{
  color: limegreen;
}

.faq-list .MuiListItemText-root span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination .MuiPagination-ul{
  justify-content: end;
}

.pets-articles .MuiGrid-container a{
  width: 100%;
  display: inline-block;
  padding-right: 1rem;
}

.pets-articles .MuiGrid-container time{
  float: right;
}

.breadcrumb{
  display: flex !important;
  justify-content: start;
}